img{width:100%;}

.navbar {
	
	
		color:white;

}
body {
	background-color: #602946;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:white;
}
.row, .int {
	background: #602946;
	color:#f3c7de;
}
